{% extends 'base.html' %}
{% load comments_extras %}
{% block main %}
    <article class="post post-{{ post.pk }}">
    <header class="entry-header">
        <h1 class="entry-title">{{ post.title }}</h1>
        <div class="entry-meta">
        <span class="post-category"><a href="#">{{ post.category.name }}</a></span>
        <span class="post-date"><a href="#"><time class="entry-date"
                                                    datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
        <span class="post-author"><a href="#">{{ post.author }}</a></span>

        <!-- 评论的锚点 -->
        <span class="comments-link"><a href="#comment-area">{{ post.comment_set.count }} 评论</a></span>
        <span class="views-count"><a href="#">588 阅读</a></span>
        </div>
    </header>
    <div class="entry-content clearfix">
        <!-- 为了解除对HTML代码的转义 在这里添加safe -->
        {{ post.body | safe}}
    </div>
    </article>

    <section class="comment-area" id="comment-area">
        <hr>
        <h3>发表评论</h3>
        <!-- 定义在comments/templatetags/commentextras/中的函数 -->
        <!--
            第二个参数是post,把这个post传进去,得到可供填写的表单
        @register.inclusion_tag('comments/inclusions/_form.html', takes_context=True)
        def show_comment_form(context, post, form=None):
            if form is None:
                form = CommentForm()
            return {
                'form': form, 
                'post': post,
            }
        -->
        {% show_comment_form post %}
        <div class="comment-list-panel">
            <!--
            @register.inclusion_tag('comments/inclusions/_list.html', takes_context=True)
            def show_comments(context, post):
                comment_list = post.comment_set.all().order_by('-created_time')
                comment_count = comment_list.count()
                return {
                    'comment_count': comment_count,
                    'comment_list': comment_list
                }
            -->
            {% show_comments post %}
        </div>
    </section>
{% endblock main %}

{% block toc %}
<!-- 检查是不是空字符串,从而得知是否不存在文章目录 -->
  {% if post.toc %}
    <div class="widget widget-content">
      <h3 class="widget-title">文章目录</h3>
      <div class="toc">
        <ul>
          {{ post.toc|safe }}
        </ul>
      </div>
    </div>
  {% endif %}
{% endblock %}