{% extends 'base.html' %}

{% block main %}
    {% for post in post_list %}
        <article class="post post-{{ post.pk }}">
            <h1 class="entry-title">
                <a href="{{ post.get_absolute_url }}">
                    <!--
                        h1填入post的标题
                    -->
                    {{ post.title }}
                </a>
            </h1>
        </article>
        <!--
                替换分类,文章发布时间,文章作者为post的变量
        -->
        <div class="entry-meta">
            <span class="post-category"><a href="#">{{ post.category.name }}</a></span>
            <span class="post-date"><a href="#"><time class="entry-date"
                                                        datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
            <span class="post-author"><a href="#">{{ post.author }}</a></span>
            
            <!-- 在这里添加评论区域的锚点 $comment-area-->
            <span class="comments-link"><a href="{{ post.get_absolute_url }}#comment-area">{{ post.comment_set.count }} 评论</a></span>
            <span class="views-count"><a href="#">588 阅读</a></span>
        </div>
        <!--
            这里修改摘要为post的excerpt变量
        -->
        <div class="entry-content clearfix">
            <p>{{ post.excerpt }}</p>
            <div class="read-more cl-effect-14">
                <a href="{{ post.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
            </div>
        </div>

    {% empty %}
        <div class="no-post">暂时还没有发布的文章</div>
    {% endfor %}
    <!-- 简单分页效果
    <div class="pagination-simple">
        <a href="#">上一页</a>
        <span class="current">第 6 页 / 共 11 页</span>
        <a href="#">下一页</a>
    </div>
    -->
    <div class="pagination">
      ...
    </div>
{% endblock main %}
